@font-face {
  font-family: "Neutronica Geometric";
  src: url("../fonts/Neutronica Geometric.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neutronica DNA";
  src: url("../fonts/Neutronica DNA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover !important;
  height: 100vh;
  display: flex;
  flex-flow: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  height: 5vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.header ul {
  display: flex;
  justify-content: space-between;
}

.header-item {
  font-family: "Neutronica DNA", sans-serif;
  color: white;
  display: block;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
  padding: 15px;
}

.main-content {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo-container {
  display: flex;
  text-align: center;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
  animation: pulse 3s infinite alternate;
  opacity: 1;
  flex: 1;
  width: 100%;
}

.logo-container img {
  max-width: 800px;
  width: 80%;
  margin: auto;
  display: block;
}

.swiper {
  max-width: 500px;
  z-index: 1;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-shadow {
  display: none !important;
}

.swiper, .swiper-slide {
  overflow: visible !important;
}

.cdbutton {
  border: none;
  font-size: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transform-origin: center;
  position: relative;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white
}

.cdbutton::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#DISC11BTN {
  background: url("../images/cd11.png") no-repeat center center;
  background-size: contain;
}
#DISC21BTN {
  background: url("../images/cd21.png") no-repeat center center;
  background-size: contain;
}
#DISC22BTN {
  background: url("../images/cd22.png") no-repeat center center;
  background-size: contain;
}
#DISC23BTN {
  background: url("../images/cd23.png") no-repeat center center;
  background-size: contain;
}
#DISC31BTN {
  background: url("../images/cd31.png") no-repeat center center;
  background-size: contain;
}
#DISC32BTN {
  background: url("../images/cd32.png") no-repeat center center;
  background-size: contain;
}
#DISC33BTN {
  background: url("../images/cd33.png") no-repeat center center;
  background-size: contain;
}
#DISC34BTN {
  background: url("../images/cd34.png") no-repeat center center;
  background-size: contain;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  height: 10vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.footer p {
  margin: auto;
}

#WINAMPBTN {
  opacity: 0;
  margin: 0 20px 0 20px;
  width: 50px;
  height: 50px;
  background: rgb(214, 214, 214);
  color: rgb(126, 126, 126);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  transition: background 0.5s;
  transition: color 0.5s;
}

#WINAMPBTN:hover {
  background: rgb(141, 141, 141);
  color: rgb(224, 224, 224);
}

#webamp-container {
  z-index: 10;
  position: relative;
}

@keyframes pulse {
  from {
    transform: scale(0.95);
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
  }
  to {
    transform: scale(1);
    filter: drop-shadow(0 8px 20px rgba(0, 0, 0, 0.4));
  }
}

/* Media Queries for Mobile Devices */
@media (max-width: 750px) {
  .cdbutton {
    padding-top: 90%;
    width: 100%;
  }
  .swiper {
    max-width: 70%;
    z-index: 1;
  }
  
}
