
@font-face {
    font-family: "Neutronica Geometric";
    src: url("../fonts/Neutronica Geometric.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Neutronica DNA";
    src: url("../fonts/Neutronica DNA.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Symbols Nerd Font';
    src: url('/fonts/SymbolsNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    background-size: cover !important;
    height: 100vh;
    display: flex;
    flex-flow: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  #WINAMPBTN {
    opacity: 0;
    margin: 0 20px 0 20px;
    width: 50px;
    height: 50px;
    background: rgb(214, 214, 214);
    color: rgb(126, 126, 126);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
    transition: background 0.5s;
    transition: color 0.5s;
  }
  
  #WINAMPBTN:hover {
    background: rgb(141, 141, 141);
    color: rgb(224, 224, 224);
  }


.swiper-slide-shadow {
display: none !important;
}

.window {
  background-image: url('/images/window_bg.png');
  background-size: cover;
  background-repeat: repeat;
  border: ridge 4px #c0c0c0;
  border-radius: 10px 6px 20px 6px;
  outline: solid 4px black;
  overflow: visible;
  position: relative;
}

.content-window {
  background-size: cover;
  background-repeat: repeat;
  border: ridge 4px #c0c0c0;
  border-radius: 10px 6px 20px 6px;
  outline: solid 4px black;
  overflow: visible;
  position: relative;
  background-image: url('/images/background.png');
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  min-height: 0; 
}

#main-container {
  display: flex;
  flex-direction: column;
  width: min(1100px);
  height: min(90vh, 1000px);
  max-width: 90%;
  max-height: 90vh;
  overflow: hidden;
}

#logo-container {
  background-image: url('/images/window_bg_light.png');
  flex: 2;
}

.header-container {
  display: flex;
  gap: 10px;
  padding: 10px;
}

#player-container {
  background-image: url('/images/background.png');
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  margin: 10px;
  margin-top: 0px;
  flex: 1; 
  min-height: 0; 
}


#video-container {
  background-image: url('/images/window_bg.png');
  flex-grow: 1;
}

.lower-music-content {
  display: flex;
  gap: 10px;
}

#cdslider-container {
  flex: 1;
}

#track-container {
  background-image: url('/images/window_bg_light.png');
  flex: 2;
}

#nextologo-container {
  background-image: url('/images/background.png');
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: flex;
  gap: 30px;
  list-style: none;   
  padding: 0;
  margin: 0;
}

.header-item {
  font-family: 'Symbols Nerd Font', sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: transform 0.2s;
}

.header-item:hover {
  transform: scale(1.2);
}

.nav-button {
  all: unset;
  cursor: pointer;
  font-family: 'Symbols Nerd Font', sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 0);
  transition: transform 0.2s;
}

.nav-button:hover {
  transform: scale(1.2);
}
